<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Soundboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E5325221C42C02E00F92CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E5325391C42C02E00F92CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E5325441C42C02E00F92CAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
